@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
.sub-mr-2{
    &>div{
        margin-right: 2rem;
    }
}
.scrollbar-hide{
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar{
        display: none;
    }
}