@myheight_for_control: 65px;

.logging-wrapper {
  width: 100%;
  height: 100%;
  .logging-control-viewer {
    height: @myheight_for_control;
    line-height: @myheight_for_control;
    // sub children
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--app-border-bg-gray);
    & > * {
      display: inline-block;
    }
    .idx-left,
    .idx-right {
      display: flex;
    }
    .idx-left > *,
    .idx-right > * {
      display: flex;
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
      display: flex;
      align-items: center;
    }
  }
  .logging-text-viewer {
    @myheight: calc(~"100% - @{myheight_for_control} - 0px");
    height: @myheight;
    max-height: @myheight;
    overflow: auto;
  }
}

.label-title {
  //   display: inline-block;
  margin-right: 5px;
  margin-top: -5px;
}

:global {
  .monosp {
    font-family: monospace;
  }
}
